:root{
  --primary-color: rgb(250, 121, 0);
  --primary-color-disabled: rgb(97, 48, 1);
  --primary-color-transparent: rgb(97, 48, 1, 0.4);
}

body {
  font-family: 'Arial', sans-serif;
  background-image: url("https://static.vecteezy.com/system/resources/thumbnails/031/210/510/small_2x/cozy-cafe-bistro-with-blurred-background-and-wooden-montage-generative-ai-photo.jpg");
  backdrop-filter: blur(3px);
  color: #eaeaea;
  margin: 0;
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgba(164, 79, 0, 0.355);
  padding: 10px 20px;
}

.btn{
  padding: 10px 20px;
  font-size: 20px;
  border-radius: 10px;
  border: none;
  cursor: pointer;
  box-shadow: 0px 5px 0px var(--primary-color-disabled);
  transition: 0.1s;
  background-color: transparent;
  color: white;
}

.btn:hover{
  filter: brightness(0.95);
  box-shadow: 0 3px 0px var(--primary-color-disabled);
  translate: 0 2px;
}

.btn:active{
  translate: 0 4px;
  box-shadow: 0 0px 0px var(--primary-color-disabled);
}

.border{
  padding: 8px 20px;
  border: 2px solid var(--primary-color);
}

.highlight {
  background-color: var(--primary-color);
  color: white;
  border: none;
  /* padding: 10px 20px; */
  font-size: 20px;
  cursor: pointer;
  border-radius: 10px;
  box-shadow: 0px 5px 0px var(--primary-color-disabled);
  transition: 0.1s;
}

.highlight:hover {
  box-shadow: 0 3px 0px var(--primary-color-disabled);
  filter: brightness(1.1);
}

.highlight:active{
  translate: 0 4px;
  box-shadow: 0 0px 0px var(--primary-color-disabled);
}

.logo{
  text-decoration: none;
  color: var(--primary-color);
  font-size: xx-large;
}

.menu-container{
  /* padding: 15px; */
  display: flex;
  flex-wrap: wrap;
  background-color: transparent;
  height: 90vh;
  overflow-x: hidden;
  overflow-y: scroll;
  justify-content: space-evenly;
}

.dish-card {
  display: flex;
  background: var(--primary-color-transparent);
  backdrop-filter: blur(2px);
  border-radius: 12px;
  overflow: hidden;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  width: 400px;
  height: 160px;
  transition: transform 0.2s;
  margin: 8px;
}

.dish-card:hover {
  transform: scale(1.01);
}

.dish-image {
  width: 130px;
  object-fit: cover;
  -webkit-mask-image: linear-gradient(to right, black 45%, transparent);
}

.dish-details {
  position: absolute;
  left: 115px;
  width: 260px;
  padding: 10px;
  flex: 1;
}

.dish-name {
  font-size: 1.5rem;
  color: rgb(250, 162, 0);
  margin: 0 0 10px;
}

.dish-description {
  font-size: 0.9rem;
  margin: 0 0 15px;
  color: rgba(255, 166, 0, 0.831);
  font-weight: 200;
  height: 40px;
}

.price-quantity {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.dish-price {
  font-size: 1.2rem;
  font-weight: bold;
  color: white;
}

.quantity-adjust {
  display: flex;
  align-items: center;
}

#cart-slider{
  position: fixed;
  bottom: 10px;
  right: 16px;
  width: 300px;
  padding: 10px;
  max-height: 28px;
  background: rgba(250, 121, 0, 0.511);
  backdrop-filter: blur(20px);
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  transition: 0.5s;
  overflow: hidden;
  visibility: hidden;
}

#cart-items{
  max-height: 200px;
  margin-top: 12px;
  overflow-y: scroll;
}

#cart-header {
  font-size: larger;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.cart-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 5px 0 20px 20px;
}

.quantity-mod {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 5px 6px 10px;
  width: 90px;
  height: 20px;
}

#cart-total {
  font-size: large;
  font-weight: 800;
}
